{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GeetaSaar: Ancient Wisdom for Solving Modern Problems.</title>
<link rel="icon" href="{% static 'images/4524217.jpg'%}" type="{% static 'images/4524217.jpg'%}">
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'templatemo_style.css'%}" rel="stylesheet"  />
</head>

<body>
<div id="templatemo_wrapper1">
<div id="templatemo_wrapper2">

	<div id="templatemo_container">
    
        <div id="templatemo_menu">
     	<ul>
			<li><a href="/" >Home</a></li>
			<li><a href="/history/">History</a></li>
            <li><a href="/Teachings/">Teachings</a></li>
            <li><a href="/Images/">Images</a></li>    
            <li><a href="/login/">Login</a></li>         
            <li><a href="/Contact Us/" class="current "class="lastmenu">Contact Us</a></li>            
        </ul>  
    </div>
    
    <div id="templatemo_header_banner">
    	<div id="templatemo_header">
        	<div id="templatemo_sitetitle">
            	GeetaSaar:</div>
      <div id="templatemo_tagline">Ancient Wisdom for Solving Modern Problems.</div>
        </div>
        <div id="templatemo_banner">
        	
        </div>
    </div>
    
    <div id="templatemo_content">
    
   		<!-- left column -->
    	<div id="templatemo_leftcolumn">
        	
            
            <div class="spacetobottom">
                <img src="{% static 'images/ding.jpg'%}" alt=""/>
            </div>
            <br><br> <br> 
            <h1>Welcome to our website</h1> 
            <div class="newssection">   
               
	                   	
                <p>The project "GeetaSaar" integrates the timeless wisdom of the Bhagavad Gita into modern life. By translating these ancient teachings of Bhagavad Gita into practical solutions, it offers a holistic framework for personal growth, ethical decision-making, and spiritual evolution. This seamless blend of tradition and relevance helps individuals navigate life with clarity, purpose, and resilience.
                    </p>
                    
            </div>
            <br><br><br>
			
            <img src="{% static 'images/title.png'%}" alt="" />
            <br>
            <br>
            <div class="twocolumn">
	            <div class="twocolumn_box">
                    <h1>Who We Are</h1>
                    <p>
                        <img src="{% static 'images/image(70x70).jpg'%}" alt="" />
                   
                  </p>
                  <br><br><br><br><br>

                    <ul>
                        <li>Ashutosh Kumar</li>
                        <li>Bhoomika Bankey</li>
                        <li>Priyanka Dalai</li>                        
                </ul>
                   
                </div>
            </div>
            
        </div>
        <!-- End of left column -->
        
        <!-- Right column -->
        <div id="templatemo_rightcolumn">
        	<div class="onecolumn">
                <p></p>
                <p></p>
                <p></p>
                <p></p><p></p><p></p>
               
                <h1 style="text-align: center;  margin-bottom: 2px; text-shadow: 2px 2px 5px black;">
                    <br><br>
                 
                </h1>
                <h3 style="text-justify: auto;">
                 SAGE University, Indore is a top-tier private university in India <img src="{% static 'Contact/images/Pic.png'%}" alt="">which is ranked 4th in Central India, 65th in India by The Times of India 2020 Ranking. It is the number 1 emerging university by Outlook 2020. SAGE University has received approval from the UGC, AICTE, BCI, COA, PCI and achieved Grade A+ by NAAC.
                <br><br>
                Toll Free Number :18001007031
                
                <br>
                
                <br>
                Email:
                <br>
                ashutoshk1409@gmail.com
                </h3>
        </div>
					            
           
        </div>
    </div>
	
     
    
    	<div id="templatemo_footer">
        	<a href="/">Home</a> | <a href="/history/">History</a> | <a href="/Teachings/">Teachings</a> | <a href="/Images/">Images</a> | <a href="/login/">Login</a> | <a href="/Contact Us/">Contact Us</a><br />
        	Copyright &copy; 2048 <a href="#"><strong>Sage University</strong></a> | Design by Us.
    	</div>
    </div>
   

</body>
</html>